.header {
    margin-top: 5px;
    margin-right: 2px;
    cursor: pointer;
    text-decoration: none;

}

.container {
    text-align: center;
    padding: 10px;
    max-width: 400px;
    margin: auto;
    border-bottom: 1px solid #272c35;
    background-color: #15181d;
    color: #fff;
}

.contentWrap {
    display: flex;
    justify-content: space-between;
    margin-right: 2px;
}

.input {
    width: 100%;
    padding: 5px;
    margin: 0px;
    border: 1px solid #15181d;
    box-shadow: none;
    border-radius: 5px;
    text-align: left;
    outline: none;
    font-size: 14px;
}

.button {
    padding: 2px 15px;
    cursor: pointer;
    border: none;
    background-color: #15181d;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: none;
    animation: spin duration timing-function delay iteration-count direction fill-mode;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}